body {
	height: 100%
  }

.top-padding {
	margin-top: 10px;
}
.user-message {
	font-family: "Times New Roman", Times, serif;
	background-color: rgb(149, 91, 91);
}

.chat-message {
	font-family: "Times New Roman", Times, serif;
	background-color: rgb(202, 79, 79);
}
h1{
	color: black;
	text-align: center;
}

.send-btn {
	position: absolute;
    top: 12px;
    font-size: 30px;
    color: silver;
    right: 20px;
}
.send-btn:hover {
	color: rgb(210, 171, 171);
}


.sidebar {
	background-color: silver;
	
}

#text-box {
	position: relative;
	bottom: 8px;
	width: 95%;
}

#text-box textarea {
	border: 2px solid;
}

#app {
	position: absolute;

}

#app .card {
	margin-bottom: 5px;
}

#app p {
	margin-bottom: 0px;
}
