body {

    height: 100vh;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  svg { display: block; }
  polygon { fill: #41B883; }
  circle {
    fill: transparent;
    stroke: #35495E;
  }
  input[type="range"] {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  
.top-padding {
	margin-top: 5vh;
}
.user-message {
    text-align: justify;
	font-family: 'Lato', sans-serif;
    background-color: rgb(209, 12, 12);
    color: white;
}
.chat-message {
    text-align: justify;
	font-family: 'Lato', sans-serif;
    background-color: darkcyan;
    color: white;
}
h1{
    font-family: 'Alata', sans-serif;
	color: black;
	text-align: center;
}

.send-btn {
	position: absolute;
    top: 12px;
    font-size: 30px;
    color: silver;
    right: 20px;
}
.send-btn:hover {
	color: rgb(60, 62, 177);
}


.navbar-brand {
    font-family: 'Alata', sans-serif;
    text-align: justify;
    color:black;
}

#text-box {
	position: relative;
	bottom: 8px;
	width: 95%;
}

#text-box textarea {
	border: 2px solid;
}

#app {
	position: absolute;

}

#app .card {
	margin-bottom: 5px;
}

#app p {
	margin-bottom: 0px;
}

#mew {
 
    
}