body {
	height: 100%
  }

.top-padding {
	margin-top: 10px;
}
.user-message {
    text-align: justify;
	font-family: 'Lato', sans-serif;
	background-color: rgb(209, 12, 12);
}
.chat-message {
    text-align: justify;
	font-family: 'Lato', sans-serif;
	background-color: darkcyan;
}
h1{
    font-family: 'Alata', sans-serif;
	color: black;
	text-align: center;
}

.send-btn {
	position: absolute;
    top: 12px;
    font-size: 30px;
    color: silver;
    right: 20px;
}
.send-btn:hover {
	color: rgb(210, 171, 171);
}


.navbar-brand {
    font-family: 'Alata', sans-serif;
    text-align: justify;
    color:black;
}

#text-box {
	position: relative;
	bottom: 8px;
	width: 95%;
}

#text-box textarea {
	border: 2px solid;
}

#app {
	position: absolute;

}

#app .card {
	margin-bottom: 5px;
}

#app p {
	margin-bottom: 0px;
}
